#qna {
    display: none;
}

.qBox {
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 15px;
    width: 80%;

    padding-left: 15px;
    padding-right: 15px;

}

.answerList {
    background-color: whitesmoke;
    border-radius: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 13px;
    color: black;
    
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;

}

.answerList:hover,
.answerList:focus {
    background-color: #707070;
    color: whitesmoke;
}

.status {
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;
    }

.statusBar {
    height: 100%;
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#febbbb+0,fe9090+52,ff5c5c+100;Red+3D+%231 */
    background: #191515;
    /* Old browsers */
    background: -moz-linear-gradient(top, #514f4f 0%,    #797979 52%,    #000000 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(
        top,
        #514f4f 0%,
        #797979 52%,
        #000000 100%
    );
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #514f4f 0%,    #797979 52%,    #000000 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#514f4f', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}
